# Dados de acesso do banco de dados MySQL para o WordPress. Certifique-se de preencher essas informações corretamente para que o WordPress possa se conectar ao banco de dados.
DB_HOST=""
DB_USER=""
DB_NAME=""
DB_PASS=""
DB_PREFIX=""

# URL onde contém os arquivos de mídia (imagens, vídeos, etc.) do WordPress.
WP_SITEURL="http://localhost"

# Url do site, onde os visitantes acessam o WordPress.
WP_HOME="http://localhost"

# URL de produção para os arquivos de mídia (imagens, vídeos, etc.) do WordPress.
PRODUCTION_UPLOADS_URL="https://seusite.com.br/wp-content/uploads"

# Chaves e salts de autenticação do WordPress. Gere novas em https://api.wordpress.org/secret-key/1.1/salt/
AUTH_KEY=""
SECURE_AUTH_KEY=""
LOGGED_IN_KEY=""
NONCE_KEY=""
AUTH_SALT=""
SECURE_AUTH_SALT=""
LOGGED_IN_SALT=""
NONCE_SALT=""