// banner header carousel

#js-banner-swiper{

    .swiper-pagination{
        background-color: transparent;
    }

    .swiper-button-prev{
        left: 10px;
    }

    .swiper-button-next{
        right: 10px;
    }
}
